body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffefdf;
}

/* Page Content */
#content {
    padding: 60px 20px;
    text-align: center;
}

.donation-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: left;
}